<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818759490761-gcgfsotc6mosf84nqc89civkldgog27k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818759490761-gcgfsotc6mosf84nqc89civkldgog27k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>818759490761-gvr7gv2jll2c90i08g67j1g714j4t6pe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkeyW-4tPWBaxBHd1qPbzFc-fip788p7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>818759490761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>shopper-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>shopper-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818759490761:ios:8c691d4dd6d38df45a4118</string>
</dict>
</plist>